[default]
ip: 127.0.0.1
type: ubuntu
chrome_desktop_debugging_port: 9222

[replay_base]
########################################################
# Chrome builds
########################################################

additional_args: --disable-extensions

# Raw built
chrome_bin: /home/vaspol/Research/MobileWebOptimization/binaries/latest-chrome/chrome

# Chrome v71 - Original
# chrome_bin: /home/vaspol/Research/MobileWebOptimization/binaries/chrome71-enable-ssl-error-caching/chrome

# Chrome v49 - Original
# chrome_bin: /home/vaspol/Research/MobileWebOptimization/binaries/chrome49-enable-ssl-error-caching/chrome

screen_size: height=768$width=1024$density=1$mobile=False$fitWindow=True
ignore_certificate_errors: True

###############################
# User data directories
###############################

user_data_dir: random
# user_data_dir: [DEFAULT]

[ubuntu_headless]
mode: headless
base_config: replay_base

[ubuntu]
mode: normal
base_config: replay_base

#################################
# Network Configs
#################################

# # DSL
# # 2016
# network: downloadThroughput=875000$uploadThroughput=875000$latency=40
# # 2019
# network: downloadThroughput=1125000$uploadThroughput=1125000$latency=40
# 
# Cable
# 2016
network: downloadThroughput=6250000$uploadThroughput=6250000$latency=22
# network: downloadThroughput=6250000$uploadThroughput=6250000$latency=0
# 2019
# network: downloadThroughput=11250000$uploadThroughput=11250000$latency=24

# Network is down: 5mbps; up: 5mbps; RTT=28ms -- WPT Cable setting (but 28ms is already captured by per IP rtt)
# network: downloadThroughput=625000$uploadThroughput=625000$latency=0
# network: downloadThroughput=3125000$uploadThroughput=3125000$latency=10
# network: downloadThroughput=3125000$uploadThroughput=3125000$latency=0

